@import "flex";

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-startpage {
    height: 700px;
    background: url(../img/banner-3.jpg) no-repeat top center/cover;
    header {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: white;
        padding-top: 20px;
        .container {
            .logo {
            }
            nav {
                > ul {
                    > li {
                        margin-left: 25px;
                        a {
                            color: white;
                            &:hover {
                                color: red;
                            }
                        }
                        i {
                            &:hover {
                                color: red;
                            }
                        }
                        > ul {
                            background-color: black;
                            border: 1px solid white;
                            width: 200px;
                            &.dropdown {
                                display: none;
                                position: absolute; //giúp tách ra khỏi vùng ul thành 1 vùng riêng, có thể sử dụng bg-color để thấy rõ hơn
                                li {
                                    padding: 13px 10px;
                                }
                            }
                        }
                        &:hover {
                            .dropdown {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-content {
        margin-top: 100px;
        color: white;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        .content {
            span {
                display: block;
                font-size: 10px;
            }
            .title {
                font-size: 60px;
                margin-top: 80px;
            }
            .content-icons {
                margin-top: 80px;
                .icon-item {
                    margin-right: 50px;
                    .icon {
                        background-color: white;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            color: blue;
                            font-size: 30px;
                        }
                    }
                    .icon-item-content {
                        padding: 10px;
                        a {
                            color: white;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}

.session2 {
    padding: 80px 0;
    border-bottom: 1px solid black;
    ul {
        li {
            a {
                img {
                    width: 150px;
                    height: 50px;
                }
            }
        }
    }
}

.session3 {
    font-family: Arial, Helvetica, sans-serif;

    .container {
        .session2-item {
            margin: 90px 0;
            .item-content {
                h2 {
                    font-size: 30px;
                    margin-bottom: 30px;
                }
                p {
                    margin-bottom: 40px;
                    color: gray;
                }
                ul {
                    li {
                        color: gray;
                        margin-bottom: 20px;
                        i {
                            color: blue;
                            margin-right: 10px;
                        }
                    }
                }
                a {
                    color: black;
                    &:hover {
                        color: red;
                    }
                }
            }
            .image-item2 {
                margin-right: 40px;
                img {
                    width: 550px;
                    height: 350px;
                }
            }
            .item-image {
                img {
                    width: 550px;
                    height: 350px;
                }
            }
        }
    }
}

.session4 {
    background-color: blue;
    color: white;
    padding: 60px;
    .item {
        //dùng để căn giữa 2 ptu theo chiều dọc
        display: flex;
        flex-direction: column;
        align-items: center;
        //------
        .number {
            font-size: 60px;
        }
        .word {
            font-size: 20px;
        }
        &.middle {
            padding: 20px 90px;
            border-left: 1px solid rgba(white, 0.4);
            border-right: 1px solid rgba(white, 0.4);
        }
    }
}

.session5 {
    height: 350px;
    background: url(https://demo.w3layouts.com/demosWTR/Freedom/01-11-2019/franchisor-freedom-demo_Free/632254492/web/assets/images/content_4.jpg)
        no-repeat top center/cover;
    position: relative;
    z-index: 1;
    color: white;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.6);
        z-index: -1;
    }
    display: flex;
    align-items: center;
    .container {
        .part1 {
            width: 400px;
            .title {
                font-size: 12px;
                padding-bottom: 40px;
            }
            .content {
                font-size: 20px;
            }
        }
        .part2 {
            width: 800px;
            padding-left: 150px;
            p {
                font-size: 35px;
            }
            a {
                color: white;
                font-size: 20px;
                display: block;
                padding-top: 50px;
                &:hover {
                    color: red;
                }
            }
        }
    }
}

.session6 {
    .container {
        .title {
            text-align: center;
            width: 600px;
            margin: 90px auto;
            p {
                color: gray;
            }
        }
        .content {
            margin-bottom: 20px; //need xoá
            .content-item {
                width: 350px;
                border: 1px solid gray;
                .item-image {
                    img {
                        width: 100%;
                    }
                }
                .item-content {
                    padding: 30px 40px;
                    text-align: center;
                    h3 {
                        margin-bottom: 18px;
                        font-size: 21px;
                    }
                    p {
                        color: gray;
                    }
                }
            }
        }
    }
}

.session7 {
    background: url(https://demo.w3layouts.com/demosWTR/Freedom/01-11-2019/franchisor-freedom-demo_Free/632254492/web/assets/images/customer_bg.jpg)
        no-repeat center/cover;
    height: 400px;
    margin: 50px 0;
    color: white;
    position: relative;
    z-index: 1;
    //3 dòng dưới căn giữa nội dung theo cột
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(blue, 0.5);
        z-index: -1;
    }
    .container {
        .content {
            font-size: 30px;
            font-weight: bolder;
        }
        .worker-info {
            margin-top: 50px;
            .image {
                img {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                }
                margin-right: 20px;
            }
            .info {
                font-size: 20px;
            }
        }
    }
}

.session8 {
    
    .container-self {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    >* {
        //margin-top: 50px; //ko dùng margin đc vì cái class container-self sẽ reset margin-top về 0
        padding-top: 30px;
    }
    .email-input {
        input {
            background-color: gainsboro;
            padding: 15px;
            font-size: 16px;
            width: 300px;
        }
        button {
            background-color: blue;
            color: white;
            padding: 15px;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background-color: red;
            }
        }
    }

    .p1 {
        font-size: 10px;
        color: gray;
    }
    .p2 {
        font-size: 25px;
        font-weight: bolder;
    }
    .p3 {
    }
}

footer {
    background-color: black;
    color: white;
    margin: 50px 0;
    padding: 50px 0;
    > div {
        > div {
            p:first-child {
                font-weight: bold;
                font-size: 20px;
                ~*{ //tất cả chữ sau p:first-child
                    color:gray;
                }
            }
        }
    }
    .container {
        >*{
            >*{
                margin-bottom: 25px;
            }
            
        }
        .brand-session {
            width: 16%;
            .brand-name{
                font-size: 25px;
            }
            .icons{
                a{
                    i{
                        color: rgb(39, 126, 240);
                        font-size: 20px;
                        position: relative;
                        //2 CÁCH ĐỂ LÀM MỜ ICON, CÁCH 2 THÌ MỞ NHỮNG CÁI NÀO ĐANG CMT RA
                        //z-index: 0; //nếu để đây là -1 thì ko đc, tại before của icon đang giữ giá trị xuất hiện icon đang có z-index là 0
                        // &::after{ //KO ĐC DÙNG BEFORE, LÝ DO ĐÃ NOTE TRONG FILE TXT
                        //     content: "";
                        //     position: absolute;
                        //     top: 0;
                        //     left: 0;
                        //     width: 100%;
                        //     height: 100%;
                        //     background-color:rgba(black, 0.4);
                        //     z-index: 1;
                        //     opacity: 0;
                        // }
                        &:hover {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(black, 0.4);
                                z-index: 1;
                            }
                        }
                    }
                    margin-right: 10px;
                    
                    // &:hover{
                    //     i{
                    //         &::after{
                    //             opacity: 1;
                    //         }
                    //     }
                    // }
                }
            }
        }
        .useful-links {
            width: 16%;
            ul{
                li{
                    a{
                        color: grey;
                        &:hover{
                            color: red;
                        }
                    }
                    margin-top: 15px;
                }
            }
        }
        .subscribe-session {
            width: 32%;
            input{
                padding: 15px;
                width: 250px;
            }
            a{
                display: block;
                padding: 15px 30px;
                color: white;
                background-color: blue;
                &:hover{
                    background-color: red;
                }
            }
        }
    }
}
