@import "flex";

.main {
    width: 300px;
    height: 300px;
    background-color: orange;
    position: relative;

    .box {
        border: 1px solid black;
    }
    .white {
        background-color: blue;
        width: 50px;
        height: 50px;
        position: absolute;
    }

    .b-w-1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .perple {
        background-color: purple;
        width: 40%;
        height: 40%;
        position: absolute;

        &.b-p-1 {
            left: 0;
            bottom: 0;
            .white {
                right: 0;
                bottom: 0;
            }
        }
        &.b-p-2 {
            right: 0;
            bottom: 0;
            .white {
                right: 0;
                top: 0;
            }
        }
    }
    .blue {
        position: absolute;
        height: 10%;
        width: 50px;
        background-color: blue;
        top: 50%;
    }
}

.bt2 {
    .main2 {
        width: 500px;
        position: relative;

        .title {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(100, 173, 241);
            padding: 10px;
            width: fit-content;
            span {
                color: white;
            }
        }
        > .image {
            height: 300px;
            //thêm dòng này để cái tam giác màu trắng nằm trên nó, thử cmt sẽ thấy
            //cách 2: có thể tạo 1 caí div bao quanh cái title và cái ảnh này, rồi cho cả cái div đó zindex nhỏ hơn zindex của cái div info
            //cách 2 sai vì nếu cha có zindex thì cái con luôn đè lên cái cha, nghĩa là cái tam giác trắng đè lên bachground màu tím
            position: relative;
            z-index: -99;
            //
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info {
            padding: 5px 0;
            position: relative;
            background-color: blueviolet;
            //z-index: 1;
            .info-group {
                .image {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .likes-number {
                background-color: rgba(blue, 0.8);
                color: white;
                border-radius: 5px;
                font-size: 14px;
                * {
                    padding: 5px;
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                left: 10px;
                width: 30px;
                height: 30px;
                background-color: white;
                transform: rotate(45deg);
                z-index: -1;
            }
        }
    }
}

.test {
    position: relative;
    width: 100px;
    height: 100px;
    //background: chocolate;
    z-index: 11;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
        background-color: chartreuse;
        transform: rotate(45deg);
        z-index: -1;
    }
    .test2 {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 50%;
        background-color: blue;
        transform: rotate(45deg);
        z-index: -3;
    }
}

.test3 {
    position: relative;
    width: 100px;
    height: 100px;
    background: black;
    z-index: 111;
    bottom: 50px;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        height: 80%;
        background-color: yellow;
        transform: rotate(-15deg);
        z-index: -2222;
    }
}

.flex-grow {
    //mặc định  align-items: stretch; nên 2 div dưới có chiều cao full
    .container {
        height: 100px;
        background-color: red;
        .div1 {
            flex-grow: 1;
            background-color: yellow;
            margin: 20px;
        }
        .div2 {
            flex-grow: 1;
            background-color: greenyellow;
        }
    }
}
