@import "flex";
body {
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    display: none;
}

header {
    color: white;
}

.start-page {
    background: url(../img/bannerBT7.jpg) no-repeat top center/cover;
    height: 600px;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(black, 0.6);
    }
}

.start-page {
    position: relative;

    header {
        border-bottom: 1px solid rgba(white, 0.2);
        .container {
            h1 {
            }
            nav {
                > ul {
                    > li {
                        margin-left: 25px;
                        position: relative;
                        padding: 30px 0;

                        > a {
                            color: rgba(white, 1);
                            font-size: 18px;

                            i {
                                font-size: 12px;
                                margin-left: 3px;
                            }
                        }
                        &:hover {
                            > a {
                                color: orange;
                            }
                        }

                        .dropdown {
                            background-color: white;
                            position: absolute;
                            top: 68px;
                            padding: 15px;
                            border-radius: 5px;
                            z-index: 2;
                            ul {
                                li {
                                    a {
                                        color: black;
                                        font-size: 18px;
                                        transition: all 0.25s;
                                        display: inline-block; //muốn dùng transform thì tag đó hải là block hoạc inline-block
                                        &:hover {
                                            transform: translateX(5px);
                                            color: red;
                                        }
                                    }
                                    margin: 15px;
                                }
                            }
                            &:after {
                                content: "";
                                top: 0;
                                width: 30px;
                                height: 30px;
                                background: white;
                                position: absolute;
                                left: 50%;
                                transform: rotate(45deg) translateX(-50%);
                                z-index: -1;
                            }
                        }
                        &.Manage {
                            .dropdown {
                                width: 250px;
                                transform: translateX(-38%);

                                justify-content: center;
                            }
                        }

                        &.contact {
                            .dropdown {
                                width: 300px;
                                transform: translateX(-40%);
                                color: black;
                                .content {
                                    text-align: center;
                                    width: 100%;
                                }
                            }
                        }
                        &.Account {
                            .dropdown {
                                width: 200px;
                                transform: translateX(-35%);
                                color: black;
                                .content {
                                    text-align: center;
                                    width: 100%;
                                }
                            }
                            // .wrapper {
                            //     a {
                            //         border: 2px solid blue;
                            //         background-color: aqua;
                            //         border-radius: 8px;
                            //         padding: 10px 20px;
                            //         color: blue;
                            //         font-weight: 900;
                            //         transition: all 0.4s;
                            //         &:hover {
                            //             border: 2px solid orange;
                            //             background-color: transparent;
                            //             color: white;
                            //         }
                            //     }
                            // }
                        }
                        &:hover {
                            .dropdown {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-links {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .container-self {
            width: 800px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: white;
            }
            p {
                color: gainsboro;
            }
            h2 {
                font-size: 50px;
                font-weight: 100;
                + p {
                    font-size: 20px;
                    margin-bottom: 40px;
                    margin-top: 20px;
                }
            }
        }
    }
}

.session2 {
    padding: 80px 0;
    border-bottom: 1px solid rgb(206, 202, 202);
    ul {
        li {
            a {
                img {
                    width: 150px;
                    height: 70px;
                }
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    margin: 50px 0;
    padding: 50px 0;
    > div {
        padding: 0;
        > div {
            p:first-child {
                font-weight: bold;
                font-size: 20px;
                ~ * {
                    //tất cả chữ sau p:first-child
                    color: gray;
                }
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        // > * {
        //   > * {
        //     margin-bottom: 25px;
        //   }
        // }
        .brand-session {
            width: 16%;
            .brand-name {
                font-size: 25px;
                margin-top: 30px;
            }
            .icons {
                a {
                    i {
                        color: rgb(39, 126, 240);
                        font-size: 20px;
                        position: relative;
                        //2 CÁCH ĐỂ LÀM MỜ ICON, CÁCH 2 THÌ MỞ NHỮNG CÁI NÀO ĐANG CMT RA
                        //z-index: 0; //nếu để đây là -1 thì ko đc, tại before của icon đang giữ giá trị xuất hiện icon đang có z-index là 0
                        // &::after{ //KO ĐC DÙNG BEFORE, LÝ DO ĐÃ NOTE TRONG FILE TXT
                        //     content: "";
                        //     position: absolute;
                        //     top: 0;
                        //     left: 0;
                        //     width: 100%;
                        //     height: 100%;
                        //     background-color:rgba(black, 0.4);
                        //     z-index: 1;
                        //     opacity: 0;
                        // }
                        &:hover {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(black, 0.4);
                                z-index: 1;
                            }
                        }
                    }
                    margin-right: 10px;

                    // &:hover{
                    //     i{
                    //         &::after{
                    //             opacity: 1;
                    //         }
                    //     }
                    // }
                }
            }
        }

        .address-part {
            display: flex;
            align-items: center;
            width: 450px;
            .image {
                background-color: white;
                width: 40%;
                height: 170px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                }
                margin-right: 20px;
            }
            .content {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h4 {
                    font-size: 20px;
                }
                p {
                    color: gray;
                }
                p,
                span {
                    font-size: 17px;
                }
                span {
                    a {
                        color: aqua;
                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }

        .subscribe-session {
            width: 32%;
            input {
                padding: 15px;
                width: 250px;
            }
            a {
                display: block;
                padding: 15px 30px;
                color: white;
                background-color: blue;
                &:hover {
                    background-color: red;
                }
            }
            p {
                margin-top: 20px;
            }
        }
    }
}
